@model Nexus_Service_Marketing_System.Models.orders

@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Our Orders Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Order Details</h2>
                <ol>
                    <li><a asp-controller="Web" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Web" asp-action="Services">Services</a></li>
                    <li><a asp-controller="Web" asp-action="Orders">Order</a></li>
                    <li>Order Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Our Orders Section -->

    <!-- ======= Order Details Section ======= -->
    <section class="order-details">
        <div class="container">
            <table class="table">

                <thead>
                    <tr>
                        @if (ViewBag.Plans.Count > 0)
                        {
                            <th>Plans Orders ID</th>
                        }

                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product Quantity</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @if (ViewBag.Equipments != null)
                    {
                        @foreach (var item in ViewBag.Equipments)
                        {
                            <tr>
                                @if (ViewBag.Plans.Count > 0)
                                {
                                    <td>
                                        <i class='bx bx-info-square bx-burst-hover'></i>
                                    </td>
                                }
                                
                                <td>
                                    @item.Equipments_orders_equipment_name
                                </td>
                                <td>
                                    $@string.Format("{0:#,0.00}", item.Equipments_orders_equipment_price)
                                </td>
                                <td>
                                    @item.Equipments_orders_quantity
                                </td>
                                <td>
                                    $@string.Format("{0:#,0.00}", item.Equipments_orders_sub_total)
                                </td>
                                <td></td>
                            </tr>
                        }
                    }

                    @if (ViewBag.Plans != null)
                    {
                        @foreach (var item in ViewBag.Plans)
                        {
                            <tr>
                                <td>
                                    @item.Plans_orders_id
                                </td>
                                <td>
                                    @item.Plans_orders_plan_name
                                </td>
                                <td>
                                    $@string.Format("{0:#,0.00}", item.Plans_orders_plan_price)
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    $@string.Format("{0:#,0.00}", item.Plans_orders_plan_price)
                                </td>
                                <td>
                                    <a asp-controller="Web" asp-action="PlansOrdersDetails" asp-route-id="@item.Plans_orders_id"><button class="btn-outline-info">Details</button></a>                                   
                                </td>
                            </tr>
                        }
                    }

                <tr>
                    @if (ViewBag.Plans.Count > 0)
                    {
                        <td colspan="3">Total</td>
                    }
                    else
                    {
                        <td colspan="2">Total</td>
                    }

                    <td>@ViewBag.Count</td>
                    <td>$@string.Format("{0:#,0.00}", ViewBag.Total)</td>
                    <td></td>

                </tr>
                </tbody>

            </table>
        </div>
    </section><!-- End Order Details Section -->

</main>