@model IEnumerable<Nexus_Service_Marketing_System.Models.orders>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Our Orders Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Orders</h2>
                <ol>
                    <li><a asp-controller="Web" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Web" asp-action="Services">Services</a></li>
                    <li>Orders</li>
                </ol>
            </div>

        </div>
    </section><!-- End Our Orders Section -->

    <!-- ======= Orders Section ======= -->
    <section class="orders">
        <div class="container">
            <div class="d-flex justify-content-center">
                @using (Html.BeginForm())
                {
                    <input type="text" name="txtOrderId" placeholder="Enter order id..." />
                    <input type="submit" name="btnSearch" value="Search" class="btn-outline-info" />
                }
            </div>

            <br />

            <div class="d-flex justify-content-center">
                <h3 class="text-primary">@ViewBag.Msg</h3>
            </div>

            <br />

            @if (Model != null)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Order_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Order_feasibility)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Order_status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Order_date)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order_feasibility)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order_status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order_date)
                                </td>
                                <td>
                                    <a asp-controller="Web" asp-action="OrderDetails" asp-route-id="@item.Order_id"><button class="btn-outline-info">Details</button></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </section><!-- End Orders Section -->

</main><!-- End #main -->