@model IEnumerable<Nexus_Service_Marketing_System.Models.plans_orders>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    var role = Context.Session.GetString("accRole");
}

<h1>Index</h1>

<h4>Plans Orders</h4>

<hr />

@using (Html.BeginForm())
{
    <input type="text" name="txtPlansOrdersId" placeholder="Enter plans orders id..." />
    <input type="submit" name="btnSearch" value="Search" class="btn-outline-info" />
}

<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plans_orders_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plans_orders_connection_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plans_orders_order_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plans_orders_plan_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plans_orders_order_status)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Plans_orders_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plans_orders_connection_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plans_orders_order_id)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Plans_orders_plan_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plans_orders_order_status)
                </td>
                <td>
                    @if (role == "Technician")
                    {
                        @if (item.Plans_orders_order_status.Equals("Complete"))
                        {
                            <form asp-controller="Tracks" asp-action="Create" method="get" style="margin-bottom: 0; display: inline">
                                <input type="text" name="txtPlansOrdersId" value="@item.Plans_orders_id" class="btn-info" hidden="hidden" />
                                <input type="button" data-toggle="modal" data-target="#modalConfirm" value="Track+++" class="btn-outline-danger" />

                                <!-- Modal -->
                                <div id="modalConfirm" class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Alert</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Are you sure you want to create a new track for this plans-orders?</div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-info mr-2">Confirm</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Modal -->
                            </form>
                        }
                        else
                        {
                            <input type="submit" value="Track+++" class="btn-outline-secondary" disabled />
                        }
                    }

                    <a asp-controller="PlansOrders" asp-action="Details" asp-route-id="@item.Plans_orders_id"><button class="btn-outline-info">Details</button></a>
                    <a asp-controller="PlansOrders" asp-action="Update" asp-route-id="@item.Plans_orders_id"><button class="btn-outline-primary">Edit</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<div class="d-flex justify-content-center">
    <h3 class="text-light">@ViewBag.Msg</h3>
</div>